/* div{
    background-color: yellow;
    height: 20vh;
    width: 20%;
} */

/* div{
    background-color: yellow;
    height: 20vh;
    width: 20%;
}

.circle{
    border-radius: 50%;
    background-color: blue;
}

.hide{
    display: none;
} */